<h1>About</h1>

<p class="well">Not an MVP, and I don't know what ALM is. I like to build things at <a href="https://github.com/liammclennan">https://github.com/liammclennan</a>. My current interests are programming, testing, JavaScript and Backbone.js</p>

<p class="well">
Previously, I blogged at <a href="http://hackingon.net">hackingon.net</a>
</p>