<h1>About</h1>

<p class="well">Not an MVP, and I don't know what ALM is. I like to build things at <a href="https://github.com/liammclennan">https://github.com/liammclennan</a>. My current interests are programming, testing, JavaScript and Backbone.js</p>

<p class="well">
	Previously, I blogged at <a href="http://hackingon.net">hackingon.net</a>
</p>

<h2>Etymology</h2>

<div class="well">
<p>
	In the <a href="http://simpsons.wikia.com/wiki/Homie_the_Clown">15th episode of season 6 of the simpsons (Homie the Clown)</a> Don Vittorio DiMaggio threatens to kill Homer and Krusty unless they can ride a unicycle through a loop. When at first they fail Don Vito says:
</p>
<blockquote>
	without the loop, it is nothing
</blockquote>
<p>
	I chose this as the theme for my blog as an allusion to good programming practices that favour declarative style over imperitive constructs - such as the loop.
</p>
</div>