<% for (var i = 0; i < gists.length; i++) { var gist = gists[i]; %>

<div class="page-header well">
	<h1><a href=<%= gist.url %>><%= gist.description %></a></h1>
	<p>comments: <%= gist.comments > 0 ? gist.comments : 'None yet' %></p>
</div>

<% } %>