<% for (var i = 0; i < gists.length; i++) { var gist = gists[i]; %>

<div class="page-header well">
	<h1><a href=<%= gist.url %>><%= gist.description %></a></h1> 
	<span class="muted">
		<i class="icon-time"></i>
		<%= gist.created_at.toDateString() %>
	</span>
	<span class="muted">
		<i class="icon-comment"></i>
		<%= gist.commentsSummaryText %>
	</span>
</div>

<% } %>